{{#each modules as |module|}}
  <li class='nav-item dropdown'>
    <a
      class='nav-link dropdown-toggle'
      href='#'
      id='offcanvasNavbarDropdown{{module.id}}'
      role='button'
      data-bs-toggle='dropdown'
      aria-expanded='false'
    >
      {{module.name}}
    </a>
    <ul
      class='dropdown-menu'
      aria-labelledby='offcanvasNavbarDropdown{{module.id}}'
    >
      {{#each module.topics as |topic|}}
        <li>
          <a class='dropdown-item' href='/topics?id={{topic.id}}'>
            {{topic.name}}
          </a>
        </li>
      {{/each}}
      <!-- Dropdown divider as list item -->
      <li>
        <hr class='dropdown-divider' />
      </li>
    </ul>
  </li>
{{/each}}