<!-- Lesson Header -->
<div>
  <h2>
    {{topic.0.name}}
  </h2>
</div>
<!-- Video Player iFrame -->

<div class="mx-auto text-center">
  <div style="max-width: 1080px; margin: 0 auto;">
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
      <iframe src="{{topic.0.video_link}}" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen class="videoPlayer" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
      </iframe>
    </div>
  </div>
</div>

<div>
  <h6>{{topic.0.description}}</h6>
</div>

{{#if logged_in}}
<div>
      <h6>
        Write notes below!
      </h6>
    </div>
    <div class="input-group">
      <textarea id ='comment-text' class="form-control" aria-label="textarea"></textarea>
    </div>
    <div id="rsDiv">
      <button id="add-comment" class='btn btn-primary'>Save</button>
      <h4>
        Resize Here
      </h4>
    </div>
{{/if}}
<!-- Note Card -->
<div class='container'>
  <div class='row justify-content-center'>
    {{#each topic.0.comments as |comment|}}
    <div class='col-md-6 mb-3'>
      <!-- Note Card -->
      <div class='card'>
        <h5 id="cardHeaderTxt" class='card-header'>{{comment.user.name}}</h5>
        <div class='card-body'>
          <p class='card-text'>{{comment.comment}}</p>
          <button id="delBtn" class='btn btn-primary delBtn' data-commentId='{{comment.id}}'><i
              class="bi bi-trash"></i></button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{#if logged_in}}
<script src='/js/comment.js'></script>
{{/if}}