<div class='col-md-6 mb-3'>
  <!-- Note Card -->
  <div class='card'>
    <h5 class='card-header'>{{module.topics.user_id}}</h5>
    <div class='card-body'>
      <p class='card-text'>{{module.topics.comment}}</p>
      <a href='#' class='btn btn-primary'>Button</a>
    </div>
  </div>
</div>

{{! Previous Method. Not Dynamic, Fixed. }}

{{!-- {{#each module.comment as |comment|}}
<div class="card w-75">
    <!-- Card Header -->
    <h5 class="card-header">{{comment.user_id}}</h5>
    <div class="card-body">
        <!-- Card Text -->
        <p class="card-text">{{comment.comment}}</p>
        <!-- Button -->
        <a href="#" class="btn btn-primary">Delete</a>
    </div>
</div>
{{/each}} --}}

{{! Example Note (Fixed) }}
{{! <div class='card w-75'>
  <h5 class='card-header'>Featured</h5>
  <div class='card-body'>
    <p class='card-text'>With supporting text below as a natural lead-in to
      additional content.</p>
    <a href='#' class='btn btn-primary'>Button</a>
  </div>
</div> }}

{{!-- {{#each modules as |module|}}
              <li class='nav-item dropdown'>
                <a class='nav-link dropdown-toggle' href='#' id='offcanvasNavbarDropdown' role='button'
                  data-bs-toggle='dropdown' aria-expanded='false'>
                  {{module.name}}
                </a>
                <ul class='dropdown-menu' aria-labelledby='offcanvasNavbarDropdown'>
                  {{#each module.topics as |topic|}}
                  <li>
                    <a class='dropdown-item' href='/api/topics/{{topic.id}}'>
                      {{topic.name}}
                    </a>
                    <ul
                      class='dropdown-menu'
                      aria-labelledby='offcanvasNavbarDropdown'
                    >
                      {{#each module.topics as |topic|}}
                        <li>
                          <a class='dropdown-item' href='/api/topics/{{topic.id}}'>
                            {{topic.name}}
                          </a>
                        </li>
                      {{/each}}
                      <!-- Dropdown divider as list item -->
                      <li>
                        <hr class='dropdown-divider' />
                      </li>
                    </ul>
                  </li>
                  {{/each}}
                </ul>
              </li>
              {{/each}} --}}