<!-- Lesson Header -->
{{#each module.topics as |topic|}}
<div>
    <h2>
        {{topic.name}}
    </h2>
</div>
{{/each}}

<!-- Video Player iFrame -->
{{#each module.topics as |topic|}}
<div>
    <iframe width="560" height="315" src="{{topic.video_link}}" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>
{{/each}}

{{!-- Text Input for Notes --}}
<div class="input-group">
    <textarea class="form-control" aria-label="textarea"></textarea>
</div>

<!-- Note Card -->
<div class="container">
    <div class="row justify-content-center">
        {{#each module.comment as |comment|}}
        <div class="col-md-6 mb-3">
            <!-- Note Card -->
            <div class="card">
                <h5 class="card-header">{{comment.user_id}}</h5>
                <div class="card-body">
                    <p class="card-text">{{comment.comment}}</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{!-- Previous Method. Not Dynamic, Fixed. --}}

{{!-- {{#each module.comment as |comment|}}
<div class="card w-75">
    <!-- Card Header -->
    <h5 class="card-header">{{comment.user_id}}</h5>
    <div class="card-body">
        <!-- Card Text -->
        <p class="card-text">{{comment.comment}}</p>
        <!-- Button -->
        <a href="#" class="btn btn-primary">Delete</a>
    </div>
</div>
{{/each}} --}}

{{!-- Example Note (Fixed) --}}
<div class="card w-75">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Button</a>
    </div>
</div>